@import './base.css';

/* --------------------- */
/* ----- VARIABLES ----- */
/* --------------------- */

:root {
  --blue: #083d77;
  --beige: #ebebd3;
  --red: #da4167;
  --yellow: #f4d35e;
  --coral: #f78764;
  --green: #2BA84A;
  /* https://coolors.co/083d77-ebebd3-da4167-f4d35e-f78764 */
}
.blue { color: var(--blue) }
.beige { color: var(--beige) }
.red { color: var(--red) }
.yellow { color: var(--beige) }
.coral { color: var(--beige) }
.green { color: var(--green )}

/* --------------------- */
/* -------- APP -------- */
/* --------------------- */

body {
  background-color: var(--blue);
}

#app {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
/* safari bugfix select font  */
@media screen and (-webkit-min-device-pixel-ratio:0){select {font-family: sans-serif;}}

.game {
  width: 100%;
  height: 100%;
  padding: 2vh;
  display: grid;
  grid-template-columns: 1fr auto minmax(300px, 20%); 
  grid-template-rows: auto 1fr; 
  gap: 2vh
}

/* --------------------- */
/* -------- MAP -------- */
/* --------------------- */

.map-container {
  width: 100%;
  border-radius: .75rem;
  grid-column: 1/3;
  grid-row: 1/3;
}

#map, .mapboxgl-canary, .mapboxgl-canvas-container, .mapboxgl-canvas {
  border-radius: inherit;
}

#map {
  width: 100%;
  height: 100%;
}

/* --------------------- */
/* ------- GAME -------- */
/* --------------------- */

#game-modal {
  grid-column: 2/3;
  grid-row: 1/2;
  color: var(--beige);
  font-weight: 500;
  font-size: 0.875rem;
}

.game-modal-inner {
  background-color: var(--blue);
  border-radius: .75rem;
  margin-top: 1rem;
  margin-right: 1rem;
  padding: .5rem 1rem;
}

.game-menu-container {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  align-items: center;
}

.game-menu {
  color: var(--beige);
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
}

.game-menu-score {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

.game-menu-finished {
  margin-top: 8vh;
}

.game-menu-feedback {width: 100%;}

.game-menu .game-menu-title {
  color: var(--blue);
  border-radius: 100vh;
  font-size: 2.8vh;
}

.game-menu-instruction-text {
  margin-bottom: .5rem;
}

.guessing-feature {
  color: var(--yellow);
  font-weight: 900;
}

.game-menu-difficulty {
  display: inline;
}

.game-menu-finished {
  font-size: 1.15rem;
  font-weight: 500;
}

.game-menu-selection-portal {
  width: 100%;
}

/* --------------------- */
/* ------- GAME -------- */
/* ------- TITLE ------- */
/* --------------------- */

.header {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.title-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 6vh;
}

.title-text {
  color: var(--beige);
  font-weight: 600;
  font-size: 1.3rem;
}

.title-logo {
  background-color: var(--beige);
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  margin-right: 8%;
}

/* --------------------- */
/* ------- GAME -------- */
/* -- SELECTS/BUTTONS -- */
/* --------------------- */

.game-menu select, .game-menu .button {
  color: white;
  border: none;
  padding: 1rem .5rem;
  border-radius: .2rem;
  font-size: 1.1rem;
  width: 100%;
  font-weight: 500;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
}

.game-menu-select {
  width: 100%;
  margin-top: 2.5rem;
}

.game-menu-select select {
  cursor: pointer;
  margin-top: .25rem;
  background-color: var(--red);
  padding-right:30px; 
  background-image:
    linear-gradient(45deg, transparent 50%, var(--beige) 50%),
    linear-gradient(135deg, var(--beige) 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 4px),
    calc(100% - 15px) calc(1em + 4px);
  background-size:
    5px 5px,
    5px 5px;
  background-repeat: no-repeat;

}

.game-menu-buttons {
  min-height: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1vh;
}

.game-menu .button {
  margin-top: 4rem;
  border: 4px solid transparent;
  font-size: 1.1rem;
}

.game-menu .button-yellow {
  margin-top: 5rem;
  background-color: var(--yellow);
  color: var(--red);
}

.game-menu .button-yellow.button-next {
  margin-top: 2rem;
}

.game-menu-info {
  width: 100%;
}

.game-menu-info .button-selection {
  margin-top: 0;
  font-size: 1rem;
  height: auto;
  padding: .4rem .5rem;
}


.game-menu-info .button-yellow-blue {
  border-color: var(--yellow);
  background-color: var(--yellow);
  color: var(--blue);
}

.game-menu .button.button-yellow-blue:not(:disabled):not(.button-not-hoverable):hover {
  color: var(--yellow);
  border-color: var(--yellow);
  background-color: var(--blue);
  cursor: pointer;
}

.game-menu-info .button-red {
  background-color: var(--red);
  color: var(--beige);
}

.game-menu-info .button-green {
  filter: none;
  background-color: var(--green);
  color: var(--beige);
}

.game-menu-info .button-border-green {
  color: var(--blue);
  background-color: var(--green);
  border-color: var(--green);
  animation: fail-answer 2s infinite;
}

@keyframes fail-answer {
  50% {
    background-color: transparent;
    color: var(--yellow);
    border-color: var(--yellow);
  }
}

.game-menu .game-menu-info .button-selection.button-not-hoverable{
  font-size: 1.2rem;
}
.game-menu .game-menu-info .button-selection.button-not-hoverable:not(:first-of-type){
  margin-top: 2vh;
}

.game-menu .button:not(:disabled):not(.button-not-hoverable):hover {
  border: 4px solid var(--red);
  cursor: pointer;
}

.game-menu .button:disabled:not(.button-selection), .game-menu .button:not(.button-selection)[disabled] {
  background-color: var(--beige);
  color: grey;
  cursor: not-allowed;
}

.game-menu .button-selection:disabled,
.game-menu .button-selection[disabled] {
  filter: grayscale(45%);
  cursor: not-allowed;
}

/* --------------------- */
/* ------ MOBILE ------- */
/* --------------------- */

@media screen and (max-width: 950px) {

  .title-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .title-text {
    font-size: 2.5vh;
  }

  .title-logo {
    width: 6vh;
    height: 6vh;
    margin-right: 2vh;
  }
  
  /* --------------------- */
  /* ------ MOBILE ------- */
  /* ------- APP --------- */
  /* --------------------- */

  .game {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    padding: 2vh;
    gap: 2vh;
  }

  .header {
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #game-modal {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
  }
  
  .game-modal-inner {
    border-radius: 0;
    padding: 0;
    background-color:unset;
    margin: 0;
  }

  .map-container {
    grid-column: 1/3;
    grid-row: 2/3;
    border-radius: .5rem;
  }
  
  .game-menu-container {
    grid-column: 1/3;
    grid-row: 3/4;
    max-width: 425px;
    width: 100%;
    margin: 0 auto;
  }

  .game-menu-difficulty {
    width: 100%;
    height: 100%;
    background: var(--blue);
    display: flex;
    flex-direction: column;
    margin: 0;
  }


  /* --------------------- */
  /* ------ MOBILE ------- */
  /* ------- MODAL ------- */
  /* --------------------- */
  

  /* --------------------- */
  /* ------ MOBILE ------- */
  /* ------- MENU ------- */
  /* --------------------- */
  
  /* RESIZE */


  .game-menu-selection-portal,
  .game-menu-info,
  .game-menu-finished {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
  }


  .game-menu select, .game-menu .button {
    padding: 1.75vh;
    padding-right: 30px;
    margin: 0;
  }

  .game-menu .button-selection {
    padding: .75rem 0;
  }

  .game-menu .game-menu-info .button-selection.button-not-hoverable {
    font-size: 1.1rem;
    padding: 0;
  }

  .game-menu .button-yellow, 
  .game-menu-select,
  .game-menu .game-menu-buttons,
  .game-menu .button-yellow.button-next,
  .game-menu-finished,
  .title-container {
    margin: 0;
  }

  /* HIDE */

  .game-menu-select label {
    display: none;
  } 

  .game-menu-instruction-text {
    display: none; 
  }
}