@import './base.css';

:root {
  --blue: #083d77;
  --beige: #ebebd3;
  --red: #da4167;
  --yellow: #f4d35e;
  --coral: #f78764;
  --green: #2BA84A;
  /* https://coolors.co/083d77-ebebd3-da4167-f4d35e-f78764 */
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  padding: 2vh;
  background: var(--blue);
  justify-content: center;
  display: flex;
}

.red {
  color: var(--red)
}

.green {
  color: var(--green)
}

.map-container {
  width: 100%;
}


#map {
  border-radius: .75rem;
  width: 100%;
  height: 100%;
}

#game-modal-info {
  position: fixed;
  z-index: 1;
  background: var(--blue);
  color: var(--beige);
  border-radius: .5rem;
  left: 3vh;
  top: 3vh;
}

.game-container {
  width: 30%;
  min-width: 300px;
}

.game {
  color: var(--beige);
  padding: 2vh 0 2vh 2vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;

  font-size: 1rem;
  font-weight: 500;
}

.game-score {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}






.game select, .game .button {
  color: white;
  border: none;
  padding: 1rem .5rem;
  border-radius: .2rem;
  font-size: 1rem;
  width: 100%;
  font-weight: 500;
  text-align: center;
  -webkit-appearance: none;
}

.game-select {
  width: 100%;
  margin-top: 2.5rem;
}

.game-select select {
  cursor: pointer;
  margin-top: .75vh;
  background-color: var(--red);
}

.game-buttons {
  margin-top: 1.25rem;
  min-height: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1vw
}

.game .button {
  margin-top: 4rem;
  border: 4px solid transparent;
  font-size: 1.1rem;
}

.game .button-yellow {
  margin-top: 6rem;
  background-color: var(--yellow);
  color: var(--red);
}

.game .button-yellow.button-next {
  margin-top: 2rem;
}

.game-info .button-selection {
  margin-top: 0;
  font-size: 1rem;
  height: auto;
  padding: .4rem .5rem;
}


.game-info .button-yellow-blue {
  border-color: var(--yellow);
  background-color: var(--yellow);
  color: var(--blue);
}

.game .button.button-yellow-blue:not(:disabled):not(.button-not-hoverable):hover {
  color: var(--yellow);
  border-color: var(--yellow);
  background-color: var(--blue);
  cursor: pointer;
}

.game-info .button-red {
  background-color: var(--red);
  color: var(--beige);
}

.game-info .button-green {
  filter: none;
  background-color: var(--green);
  color: var(--beige);
}

.game-info .button-border-blue {
  animation: fail-answer 2s infinite;
}

.game .game-info .button-selection.button-not-hoverable{
  margin-top: 4vh;
  font-size: 1.2rem;
}

.game .button:not(:disabled):not(.button-not-hoverable):hover {
  border: 4px solid var(--red);
  cursor: pointer;
}

.game .button:disabled:not(.button-selection), .game .button:not(.button-selection)[disabled] {
  background-color: var(--beige);
  color: grey;
  cursor: not-allowed;
  /* filter: grayscale(70%); */
}

.game .button-selection:disabled,
.game .button-selection[disabled] {
  filter: grayscale(45%);
  cursor: not-allowed;
}

.game-finished {
  margin-top: 8vh;
}

.game-feedback {width: 100%;}

@keyframes fail-answer {
  50% {
    background-color: transparent;
    color: var(--yellow);
  }
}

.game .game-title-container {
  background-color: var(--beige);
  border-radius: 100vh;
  margin: 2vh 0 5vh;

  width: 20vh;
  height: 20vh;


  padding-top: .5vh;
  text-align: center;

}

.game .game-title {
  color: var(--blue);
  border-radius: 100vh;
  font-size: 2.8vh;
}

.game .game-title-lao {
  font-weight: 1000;
  font-size: 110%;
}
.game .game-title-english {
  font-weight: 600;
  font-size: 100%;
}

.game-data {
  font-weight: 500;
  padding: .5rem 1rem;
}

.guessing-feature {
  color: var(--yellow);
  font-weight: 900;
}

.game-mode {
  text-align: center;
  font-weight: 600;
  padding-bottom: .25rem;
}

.game-difficulty {
  display: inline;
}

.game-finished {
  font-size: 1.15rem;
  font-weight: 500;
}

.title-container {
  display: none;
}

@media screen and (max-width: 769px) {
  main {
    width: 100%;
    height: 100%;
    padding: 2vh;
    background: var(--blue);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
  }

  .map-container {
    width: 100%;
    height: 100%;
  }

  .game .game-title-container {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
  }

  .game-container {
    width: 100%;
  }

  #game-modal-info {
    position: unset;
    z-index: 1;
    background: none;
    color: var(--beige);
    border-radius: 0;
    padding: 0;
  }

  .game-info {
    width: 100%;
  }

  .game-instructions, .game-buttons {
    margin: 0;
  }

  .game .button-yellow.button-next {
    margin-top: 1vh;
  }

  .game-instruction-text {
   display: none; 
  }

  .game-selection-portal {
    width: 100%;
  }

  .game-data {
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 0.825rem;
  }

  .game-mode {
    display: none;
  }
  .title-container {
    display: flex;
  }

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-text {
    color: white;
    font-weight: 600;
    font-size: 2.5vh;
  }

  .title-logo {
    background-color: var(--beige);
    border-radius: 100%;
    width: 6vh;
    height: 6vh;
    margin-right: 2vh;
  }

  .game {
    padding: 0;
  }
  
  .game .game-buttons {
    margin: 2vh 0 1vh;
  }


  .game select, .game .button {
    padding: 1.75vh;
  }

  .game .button-selection {
    padding: .75vh;
  }

  .game .button-yellow {
    margin-top: 2vh;
  }

  .game-select {
    margin-top: 1vh;
  }

  .game-select label {
    display: none;
  }
}