@import './base.css';

:root {
  --blue: #083d77;
  --beige: #ebebd3;
  --red: #da4167;
  --red: #da4167;
  --yellow: #f4d35e;
  --coral: #f78764;
  /* https://coolors.co/083d77-ebebd3-da4167-f4d35e-f78764 */
}

#app {
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}

main {
  width: 100%;
  height: 100%;
  padding: 2vh;
  display: grid;
  background: var(--blue);
  justify-content: center;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "map-container game-container"
}

.map-container {
  grid-area: map-container;
}


#map {
  border-radius: .75rem;
  width: 100%;
  height: 100%;
}

#map-info {
  position: absolute;
  z-index: 1;
  background: var(--blue);
  color: var(--beige);
  border-radius: .5rem;
  right: 1rem;
  top: 1rem;
}

.game-container {
  grid-area: game-container;
}

.game {
  color: var(--beige);
  padding: 2vh 0 2vh 2vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;

  font-size: 1.1rem;
  font-weight: 500;
}

.game select, .game button {
  color: white;
  border: none;
  padding: 1rem .5rem;
  border-radius: .2rem;
  font-size: 1rem;
  width: 100%;
  font-weight: 500;
  text-align: center;
}

.game-select {
  width: 100%;
  margin-top: 2.5rem;
}

.game-select select {
  cursor: pointer;
  margin-top: .75rem;
  background-color: var(--red);
}

.game-select label {
}

.game button {
  margin-top: 4rem;

  border: 4px solid transparent;
  font-size: 1.1rem;
}

.game button:not(:disabled):hover {
  border: 4px solid var(--red);
  cursor: pointer;
}

.game button:disabled:not(.button-selection), .game button:not(.button-selection)[disabled] {
  /* filter: grayscale(100%); */
  background-color: lightgrey;
  color: grey;
  cursor: not-allowed;
}

.game .button-yellow {
  margin-top: 6rem;
  background-color: var(--yellow);
  color: var(--red);
}

.game .button-yellow.button-next {
  margin-top: 2rem;
}

.game-info .button-selection {
  margin-top: 1.25rem;
  padding: .4rem .5rem;
}

.game-info .button-red {
  background-color: var(--red);
  color: var(--beige);
}

.game-info .button-grey {
  filter: none;
  background-color: rgb(45, 45, 45);
  /* color: black; */
}

.game-info .button-green {
  filter: none;
  background-color: green;
  color: var(--beige);
}

.game-info .button-border-green {
  filter: none;
  border-color: rgb(4, 153, 4);
  color: rgb(6, 185, 6);
  animation: fail-answer 1.5s infinite;
}

@keyframes fail-answer {
  50% {
    color: grey;
    border-color: transparent;
  }
}

.game .game-title-container {
  background-color: var(--beige);
  border-radius: 100vh;
  margin-bottom: 3vh;

  width: 20vh;
  height: 20vh;
  padding: 2vh 4.5vh;
}

.game .game-title {
  color: var(--blue);
  border-radius: 100vh;
  /* font-size: 1.7rem; */
  font-size: 2.7vh;
}

.game .game-title-lao {
  font-weight: 900;
}
.game .game-title-english {
  font-weight: 600;
}

.game-map-data {
  padding: 1rem;
}

.game-instructions-title {
  font-weight: 700;
  font-size: 1.125rem;
}

.guessing-feature {
  color: var(--red);
  font-size: 1.125rem;
  font-weight: 900;
}

.game-mode {
  text-align: center;
  font-weight: 600;
  padding-bottom: .25rem;
}